<div class="modal-container">
  <div class="modal">
    <div class="modal-title">
      <h2>Resend confirmation instructions</h2>
    </div>
    <div class="modal-body">
      <div class="form-container">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-input">
            <%= f.email_field :email, autofocus: true, placeholder: "  ", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            <div class="cut">
              <%= f.label :email %>
            </div>
          </div>
          <div class="form-submit">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-submit' %>
            <div class="form-notes">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


