<div class="search-container">
  <form action="" method="GET">
    <div>
      <button type="submit"><i class="uil uil-search"></i></button>
      <input type="search" name="search" placeholder="Search">
    </div>
  </form>
</div>
<!-- <div class="add-post">
  <a href="posts/add.php" class="btn">Add a Post!</a>
</div> -->
<div class="posts-container">
  <% @posts.each do |post| %>
    <article class="post">
      <h2>
        <%= link_to post_path(post.id) do %>
          <%= post.title %>
          <% if post.checked %>
            <i class="uil uil-check"></i>
          <% end %>
        <% end %>
      </h2>
      <div class="thumbnail">
        <div>
          <%= link_to image_tag("thumbnails/#{post.thumbnail}"), post_path(post.id) %>
        </div>
      </div>
      <div class="post_info-container">
        <div class="category-container">
          <% post.posts_category.each do |post_category| %>
            <%= link_to category_posts_path(post_category.category.id), class: 'btn btn-sm' do %>
                <%= post_category.category.title %>
            <% end %>
          <% end %>
        </div>
        <div class="author-container">
          <div class="author-avatar">
            <%= avatar_nil?(post.user.avatar, { color: post.user.preferences }) %>
          </div>
          <div class="author-info">
            <h3>By: <%= post.user.username %></h3>
            <p><%= post.created_at %></p>
          </div>
        </div>
      </div>
      <p><%= post.body %></p>
    </article>
  <% end %>
</div>
<div class="categories-container">
  <% @categories.each do |category| %>
    <%= link_to category_posts_path(category.id), class: 'btn' do %>
      <%= category.title %>
    <% end %>
  <% end %>
</div>