<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoIntegradorSegundoSemestre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= 'modal-wrapper' if wrap_body? %>">
    <%= render "layouts/header" %>
    
    <% if flash[:error] || flash[:notice] %>
      <div class="alert-container <%= flash[:notice]? 'success-bg' : 'danger-bg' %>">
        <p>
          <%= flash[:notice]? flash[:notice] : flash[:error] %>
        </p>
      </div>
    <% end %>

    <%= yield %>
    
    <%= render 'layouts/footer' unless wrap_body? %>
  </body>
</html>
